<template>
        <v-container>
            <v-layout row wrap v-for="reunion in reunions" :key="reunion.id" class="mb-2">
                <v-flex xs12>
                    <v-card class="info">
                        <v-container fluid>
                            <v-layout row>
                                <v-flex xs5 sm4 md3>
                                    <v-card-media :src="reunion.imageUrl" height="150px"></v-card-media>
                                </v-flex>
                                <v-flex xs7 sm8 md9>
                                    <v-card-title primaryTitle>
                                        <div>
                                            <h1 class="white--text mb-0">{{ reunion.title }}</h1>
                                            <div>{{ reunion.date | date}}</div>
                                        </div>
                                    </v-card-title>
                                    <v-card-actions>
                                        <v-btn dark :href="'/reuniao/' + reunion.id">
                                            <v-icon left>arrow_forward</v-icon>
                                            Informações
                                        </v-btn>
                                    </v-card-actions>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
</template>

<script>
    export default {
      computed: {
        reunions () {
          return this.$store.getters.loadedReunions
        }
      }
    }
</script>