<template>
        <v-container>
            <v-layout row wrap>
                <v-flex xs12>
                    <v-card>
                        <v-card-title>
                            <h3 class="primary--text">{{ reunion.title }}</h3>
                        </v-card-title>
                        <v-card-media
                                :src="reunion.imageUrl"
                                height="300px"></v-card-media>
                        <v-card-text>
                            <div>{{ reunion.date }}</div>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn class="primary">
                                Registrar
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
</template>

<script>
    export default {
      props: ['id'],
      computed: {
        reunion () {
          return this.$store.getters.loadedReunion(this.id)
        }
      }
    }
</script>