<template>
    <v-alert class='mb-2' :type="tipo" :icon="icone" dismissible @input="onClose" :value="true">
        {{ text }}
    </v-alert>
</template>

<script>
    export default {
      props: ['text', 'tipo', 'icone'],
      methods: {
        onClose () {
          this.$emit('dismissed')
        }
      }
    }
</script>