<template>
    <v-container>
        <v-layout row>
            <v-flex xs12 class='text-xs-center'>
                <v-progress-circular 
                indeterminate 
                class="green--text"
                :width="1"
                :size="300"
                v-if="loading"
                ></v-progress-circular>
            </v-flex>
        </v-layout>
        <v-layout row wrap class="mt-2" v-if="!loading">
            <v-flex xs12>
                <v-carousel style="cursor: pointer">
                    <v-carousel-item v-for="reunion in reunions"
                                     :src="reunion.imageUrl"
                                     :key="reunion.id"
                                     @click="onLoadReunion(reunion.id)"
                                     >
                        <div class="title">
                            {{ reunion.title }}
                        </div>
                    </v-carousel-item>
                </v-carousel>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
      computed: {
        reunions () {
          return this.$store.getters.featuredReunions
        },
        loading () {
          return this.$store.getters.loading
        }
      },
      methods: {
        onLoadReunion (id) {
          return this.$router.push('/reuniao/' + id)
        }
      }
    }
</script>