<template>
    <v-app>
        <v-content>
            <v-navigation-drawer v-model="sideNav" temporary absolute>
                <v-list>
                    <v-list-tile
                            v-for="item in menuItems"
                            :key="item.title"
                            :href="item.link">
                        <v-list-tile-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>{{ item.title }}</v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile v-if="userIsAuthenticated" @click="onLogout">
                        <v-list-tile-action>
                            <v-icon>exist_to_app</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>Sair</v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-navigation-drawer>

            <v-toolbar dense dark class="blue darken-1">
                <v-toolbar-side-icon @click.stop="sideNav = !sideNav"></v-toolbar-side-icon>
                <v-toolbar-title>
                    <router-link to="/" tag="span" style="cursor: pointer">
                        SISCON-AP
                    </router-link>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items class="hidden-sm-and-down">
                    <v-btn flat v-for="item in menuItems" :key="item.title" :href="item.link">
                        <v-icon left>{{ item.icon }}</v-icon>
                        {{ item.title }}
                    </v-btn>
                    <v-btn flat v-if="userIsAuthenticated" @click="onLogout">
                        <v-icon left>exit_to_app</v-icon>
                        Sair
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <main>
                <router-view></router-view>
            </main>
        </v-content>
    </v-app>
</template>

<script>
  export default {
    data () {
      return {
        sideNav: false
      }
    },
    computed: {
      menuItems () {
        let menuItems = [
          {icon: 'face', title: 'Cadastre-se', link: '/criar-usuario'},
          {icon: 'lock_open', title: 'Entrar', link: '/entrar'}
        ]
        if (this.userIsAuthenticated) {
          menuItems = [
            {icon: 'forum', title: 'Reuniões', link: '/reunioes'},
            {icon: 'contacts', title: 'Conselho', link: '/'},
            {icon: 'person', title: 'Perfil', link: '/perfil'}
          ]
        }
        return menuItems
      },
      userIsAuthenticated () {
        return this.$store.getters.user !== null && this.$store.getters.user !== undefined
      }
    },
    methods: {
      onLogout () {
        this.$store.dispatch('logout')
      }
    }
  }
</script>
<style>
  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>